{{> header }}
{{#if isStaff }}
<a href="/dropboxes" data-testid="dropbox-list-return-link">
  << Back to all dropboxes</a> {{/if }} <div id="dropboxContents" data-testid="dropbox-details">
    <strong>Name:</strong>
    <p>{{ dropbox.customer.name }}</p>
    <strong>Email:</strong>
    <p data-testid="email-value">{{ dropbox.customer.email }}</p>
    <strong>Date of Birth:</strong>
    <p data-testid="dob-value">{{ dropbox.customer.dob }}</p>
    <strong>Benefits claim reference number:</strong>
    <p data-testid="reference-number-value">{{ dropbox.customer.reference }}</p>
    <strong>National Insurance number:</strong>
    <p data-testid="national-insurance-value">{{ dropbox.customer.nationalInsurance }}</p>
    <strong>Description:</strong>
    <p>{{ dropbox.description }}</p>
    {{#if dropbox.hasUploads }}
    <strong>Uploaded Documents:</strong>
    <ol>
      {{#each dropbox.uploads }}
      <li>
        <a href="/dropboxes/{{../dropboxId}}/files/{{this.id}}" target="_blank">{{this.filename}}</a>
        {{#if this.description }} - {{this.description}}{{/if }}
      </li>
      {{/each}}
    </ol>
    {{/if }}
    </div>
    <strong>Submitted on:</strong>
    <p>{{dateFormat dropbox.submitted}}</p>
    {{#if isStaff }}
    {{#if dropbox.archived}}
    <strong>
      <p data-testid="archive-status-test">Status: Archived </p>
    </strong>
    <button id="unarchive" data-testid="unarchive-button-test" type="button" class="btn btn-light"
      data-dropboxid="{{ dropboxId }}">Unarchive</button>
    {{else}}
    <strong>
      <p data-testid="archive-status-test">Status: To review</p>
    </strong>
    <button id="archive" data-testid="archive-button-test" type="button" class="btn btn-light"
      data-dropboxid="{{ dropboxId }}">Move to archive</button>
    {{/if}}

    {{else}}
    <a href="/restart" class="btn btn-block btn-lg btn-primary" role="button" id="startAgain">Start Again</a>
    {{/if }}

    <script type="text/javascript">
      (function () {

        function doArchive(event, archiveStatus) {
          const dropboxId = event.target.getAttribute('data-dropboxid');
          fetch(`/dropboxes/${dropboxId}/archive`, {
            method: 'POST',
            body: JSON.stringify({ archiveStatus }),
            mode: 'no-cors'
          }).then(function () {
            window.location.reload();
          })
        }

        function tryAddEventListener(selector, event, handler) {
          const element = document.querySelector(selector);
          if (element) {
            element.addEventListener(event, handler);
          }
        }

        tryAddEventListener('#archive', 'click', function (event) { doArchive(event, true); })
        tryAddEventListener('#unarchive', 'click', function (event) { doArchive(event, false); })
      })();
    </script>
    {{> footer isStaff }}