{{> header }}
<h2>Customer Uploads</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Docs</th>
      <th scope="col">Upload Reason</th>
      <th scope="col">Email</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">National Insurance Number</th>
      <th scope="col">Phone</th>
      <th scope="col">Reference</th>
      <th scope="col">Submitted</th>
    </tr>
  </thead>
  <tbody data-testid="staff-dropboxes-list">
    {{#each dropboxes}}
    <tr>
      <td scope="row">
        <a data-testid="dropbox-link" href="/dropboxes/{{this.id}}/view">
          {{this.customer.name}}
        </a>
      </td>
      <td>{{this.count}}</td>
      <td>{{this.description}}</td>
      <td>{{this.customer.email}}</td>
      <td>{{this.customer.dob}}</td>
      <td>{{this.customer.nationalInsurance}}</td>
      <td>{{this.customer.phone}}</td>
      <td>{{this.customer.reference}}</td>
      <td>{{dateFormat this.submitted}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{> footer isStaff=true }}