{{> header }}
<h3>Customer Name:</h3>
<p>{{ dropbox.customerName }}</p>
<h3>description:</h3>
{{ dropbox.description }}
<h3>Files:</h3>
<ul>
  {{#each dropbox.uploads }}
    <li>
      <a href="{{../pathPrefix}}/dropboxes/{{../dropboxId}}/file/{{@key}}" target="_blank">{{this.title}} -
        {{this.fileName}}</a>
    </li>
  {{/each}}
</ul>
{{> footer }}