{{> header }}
<p>Your secure way to send your documents to Hackney Council.</p>
<section>
  <h2>Upload Documents:</h2>
  <ol>
    <li>Upload as many documents as you need to, one at a time.</li>
    <li>Go to the customer details sction below.</li>
  </ol>
  {{#if dropbox.uploads }}
    <h3>Uploaded Documents:</h3>
  {{/if }}
  <ol>
    {{#each dropbox.uploads }}
      <li>
        <a href="{{../pathPrefix}}/dropboxes/{{../dropboxId}}/file/{{@key}}" target="_blank">
          {{#if this.title }}{{this.title}} - {{/if }}{{this.fileName}}
        </a>
        &nbsp;
        <form method="POST" action="{{ ../pathPrefix }}/dropboxes/{{ ../dropboxId }}/documents/{{ @key }}" onSubmit="javascript: return confirm('Are you sure you want to delete this document?');">
          <input type="hidden" name="_method" value="DELETE" />
          <button>Delete document</button>
        </form>
      </li>
    {{/each}}
  </ol>
  <form action="" method="POST" enctype="multipart/form-data">
    <div class="form-row">
      <label for="newUploadFile">Select file:</label>
      <input type="file" name="newUploadFile" />
    </div>
    <div class="form-row">
      <label for="newUploadTitle">File description (optional):</label>
      <input type="text" name="newUploadTitle" />
    </div>
    <div class="form-row">
      <button type="submit">Upload Document</button>
    </div>
  </form>
</section>
<section>
  <h2>Customer Details:</h2>
  <ol>
    <li>Enter your name and tell us what the documents are for</li>
    <li>Click "Submit Documents" to send the documents to us</li>
  </ol>
  <form action="" method="POST">
    <div class="form-row">
      <label for="customerName">Your name:</label>
      <input type="text" name="customerName" value="{{ dropbox.customerName }}">
    </div>
    <div class="form-row">
      <label for="description">What are these documents for?:</label>
      <textarea name="description">{{ dropbox.description }}</textarea>
    </div>
    <div class="form-row">
      <button type="submit">Submit Documents</button>
    </div>
  </form>
</section>
{{> footer }}